* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(90deg, #3d4cad 0%, #1d44b8 100%);
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

.header {
    padding: 0 0 20px 0px;
    text-align: center;
    color: #ffffff;
}

.main {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 4px #bababa;
    padding: 30px;
    border-radius: 10px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

input[type="text"], input[type="date"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

input[type="radio"] {
    margin: 10px;
}   

input[type="submit"] {
    width: 200px;
    margin: 30px;
    padding: 10px;
    background-color: #1ed514;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

